<h1>Listing Articles</h1>
<% if user_signed_in? then %>
  <%= link_to 'Logout', destroy_user_session_path,
              method: :delete,
              data: {confirm: 'Are you sure you want to Logout?'}, class: "button" %>
  <%= current_user.email %>
  <% else %>
  <%= link_to 'Login', new_user_session_path, class: "button" %>
<% end %>

<br/>
<br/>
<div style="overflow-x:auto;">
<table class="article">
  <tr class="article">
    <th class="article-id-head">ID</th>
    <th class="article-title-head">Title</th>
    <th class="article-text-head">Text</th>
    <% if is_admin? then %>
      <th class="article-buttons-head"></th>
    <% end %>
  </tr>

  <% @articles.each do |article| %>
    <tr class="article">
      <td  class="article-id"><p class="article"><%= article.id %></p></td>
      <td  class="article-title"><p class="article"><%= link_to article.title, article_path(article), class: "no_decoration"%></p></td>
      <td  class="article-text"><p class="article"><%= article.text %></p><%#= truncate(article.text, length: 30).html_safe %></td>
      <% if is_admin? then %>
        <td class="article-buttons">
          <%= link_to 'Edit', edit_article_path(article), class: "button-smal" %>
          <%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "button-smal" %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <td class="article-paginator" colspan="3">
      <%= paginate @articles, window: 2 %><br/><%= page_entries_info @articles %>
    </td>
    <% if is_admin? then %>
      <td class="article-new">
        <%= link_to 'New', new_article_path, class: "button" %>
      </td>
    <% end %>
  </tr>

</table>
</div>
<div class="right">
  <%= link_to 'back', root_path, class: "button" %>
</div>
