<%= tinymce_assets %>
<%= tinymce %>

<div class="title">
  <h2><%= @article.title %></h2>
</div>

<div class="text">
  <%= @article.text.html_safe %>
</div>

<% if is_admin? then %>
  <div class="right">
    <%= link_to 'Edit', edit_article_path(@article), class: "button" %>
  </div>
<% end %>

<%# skip this part if no comments exist %>
<div id="comment-heading" class="text">
  Comments to this article:
</div>
<div class="seperator"></div>

<%= render @article.comments %>

<% if is_admin? then %>
  <div id="comment-add" class="text">
    Add a comment:
  </div>
  <%= render 'comments/form' %>
<% end %>

<div class="right">
  <%= link_to 'Back', articles_path, class: "button" %>
</div>
