<%# new design without table ... more responsive %>

<%# output user input options: %>
<div>
  <div id="heading">
    <span>Choose::</span><span id="description">(Computer auto-plays)</span>
  </div>
</div>
<div class="seperator"></div>

<%# draw input-cards %>
<%= card(:A, @selector).html_safe %>
<%= card(:B, @selector).html_safe %>
<%= card(:C, @selector).html_safe %>
<%= card(:E, @selector).html_safe %>
<%= card(:D, @selector).html_safe %>
<div class="seperator"></div>

<%# output results only if a valid user choice is available%>
<% if WelcomeHelper::RPSSL.valid?(@choice) %>

  <%# change color of result status text depending on outcome %>
  <div class="floating center" id="result">
    <%= result(@results[3]).html_safe %>
  </div>
  <%# output the winning side (mark if it is the user choice) %>
  <div class="floating <% if @results[0] == WelcomeHelper::RPSSL.item(@choice) then %>selected<%else%>computer<%end%>">
    <div>
      <div class="cardhead"><%= @results[0].to_s %></div>
      <%= image_tag( "#{@results[0].downcase}.jpg", size: "100x100", alt: "#{@results[0]}" ) %></p>
    </div>
  </div>
  <%# output the verb that connects the winner with the looser %>
  <div class="floating center">
    <%= @results[1] %>
  </div>
  <%# output the loosing side (mark if it is the user choice) %>
  <div class="floating <% if @results[2] == WelcomeHelper::RPSSL.item(@choice) && @choice != @choice_comp then %>selected<%else%>computer<%end%>">
    <div>
      <div class="cardhead"><%= @results[2].to_s %></div>
      <%= image_tag( "#{@results[2].downcase}.jpg", size: "100x100", alt: "#{@results[2]}" ) %>
    </div>
  </div>
  <div class="seperator"></div>
<% end %>

<div class="right">
  <%= link_to('back', root_path, class: "button") %>
</div>
