<%# new design without table ... more responsive %>

<%# output user input options: %>
<div>
  <div id="heading">
    <span>Choose::</span><span id="description">(Computer auto-plays)</span>
  </div>
</div>
<div class="seperator"></div>

<%# draw input-cards %>
<% [:A, :B, :C, :E, :D].each do |key| %>
  <% if key == @choice %>
    <%= card(key, "selected").html_safe %>
  <% else %>
    <%= card(key, "input").html_safe %>
  <% end %>
<% end %>
<div class="seperator"></div>

<%# output results only if a valid user choice is available%>
<% if WelcomeHelper::RPSSL.valid?(@choice) %>

  <%# change color of result status text depending on outcome %>
  <div class="floating center" id="result">
    <%= result(@results[3]).html_safe %>
  </div>
  <%# output the winning side (mark if it is the user choice) %>
  <div class="floating <% if @results[0] == @choice then %>selected<%else%>computer<%end%>">
    <%= card_text(@results[0]).html_safe %>
  </div>
  <%# output the verb that connects the winner with the looser %>
  <div class="floating center">
    <%= @results[1] %>
  </div>
  <%# output the loosing side (mark if it is the user choice) %>
  <div class="floating <% if @results[2] == @choice && @choice != @choice_comp then %>selected<%else%>computer<%end%>">
    <%= card_text(@results[2]).html_safe %>
  </div>
  <div class="seperator"></div>
<% end %>

<div class="right">
  <%= link_to('back', root_path, class: "button") %>
</div>
